.faq-container {
    background-color: rgb(229, 231, 231);
    box-shadow: 0.1rem, 0.1rem #2c2c2c;
    padding: 0 rem 0;
    width: 60%;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.faq .faq-btn {
    border: none;
    box-shadow: 0 2px 14px rgb(216 217 255 / 65%);
    background: #fff;
    padding: 3px 10px;
    font-weight: bold;
    margin-left: 60%;

}

.faq h4 {
    position: relative;
    top: 1rem;
}
